<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356838294430-05p81rncprmbt4q7majkv683m6fajvba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356838294430-05p81rncprmbt4q7majkv683m6fajvba</string>
	<key>API_KEY</key>
	<string>AIzaSyCD8yziZeLMYzAiQ5GbI417TZZXrOrsjrI</string>
	<key>GCM_SENDER_ID</key>
	<string>356838294430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.smartmobile.Sports-Tracker</string>
	<key>PROJECT_ID</key>
	<string>sports-tracker-c7904</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-tracker-c7904.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356838294430:ios:971864bd8046e823768c8f</string>
</dict>
</plist>